{% extends "base.html" %}
{% block content %}
<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">パスワード再設定</div>
                <div class="card-body">
                    <p>パスワード再設定用のメールアドレスを入力してください。</p>
                    <form action="" method="post">
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        <div class="form-group row">
                            <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label_tag }}</label>
                            <div class="col-md-6">{{ field }}</div>
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        {% csrf_token %}
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                送信
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}