{% extends "base.html" %}
{% block content %}
<div class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">新規会員登録</div>
                    <div class="card-body">
                        <form action="" method="post">
                            {{ form.non_field_errors }}
                            {% for field in form %}
                            <div class="form-group row">
                                <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label_tag }}</label>
                                <div class="col-md-6">{{ field }}</div>
                                {{ field.errors }}
                            </div>
                            {% endfor %}
                            {% csrf_token %}
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    登録
                                </button>
                                <a href="{% url 'account:login' %}" class="btn btn-link">
                                    アカウントをお持ちですか?
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}